@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/bootstrap";
body{
    background-color: #304030!important;
    z-index:1;
    overflow-x: hidden;
}
.clock{
    font-size: 200px;
    color: #e8e8e8;
    line-height: 1.15;
  }
  .bg-orging {
    border-color: #f08448!important;
    background:#f08448!important;
  }
  .svg--border {
    border: 2px solid #e8e8e8;
    border-radius: 50%;
    cursor: pointer;
}
.fixbottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}